html,body,form {
	margin: 0;
	width: 100%;
	height: 100%;font-family: '微软雅黑';
}

html,body {
	margin: 0;
	width: 100%;
	background: #F7F8FA;
	overflow: auto;font-family: '微软雅黑';
	SCROLLBAR-FACE-COLOR: #5c9ccc;/*滚动条突出部分的颜色*/
	SCROLLBAR-HIGHLIGHT-COLOR: rgb(223, 239, 252);/*滚动条空白部分的颜色*/
	SCROLLBAR-SHADOW-COLOR: rgb(223, 239, 252);/*立体滚动条阴影的颜色 */
	SCROLLBAR-3DLIGHT-COLOR: #5c9ccc;/*滚动条亮边的颜色*/
	/*SCROLLBAR-ARROW-COLOR: rgb(223, 239, 252);上下按钮上三角箭头的颜色*/
	SCROLLBAR-TRACK-COLOR: rgb(223, 239, 252);/*滚动条的背景颜色*/
	SCROLLBAR-DARKSHADOW-COLOR: #5c9ccc;/*滚动条强阴影的颜色*/
	SCROLLBAR-BASE-COLOR: rgb(223, 239, 252);/*滚动条的基本颜色*/
}
label{font-family: 微软雅黑, 宋体, Arial, Verdana;}
.ui-widget
{
    font-size: 12px; !important;
}

.ui-widget .ui-widget
{
    font-size: 12px;font-family: 微软雅黑, 宋体, Arial, Verdana;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: "微软雅黑",Arial,sans-serif;
    font-size: 12px;
}
.ui-button .ui-button-text{
	padding: 1px 2px;
}

.ui-button-text-only .ui-button-text{
	padding: 1px 2px;
}

.ui-inputfield{
	padding: 1px;
	padding-right: 18px;
}
.ui-panelgrid .ui-panelgrid-cell{font-family: "微软雅黑",Arial,sans-serif;}
.ui-outputlabel .ui-outputlabel-rfi{
	color: #FF0000;
}

.ui-widget-header{
	border:1px solid #4297d7;
	background:#5c9ccc url("#{resource['primefaces-redmond:images/ui-bg_gloss-wave_55_5c9ccc_500x100.png']}") 50% 50% repeat-x;
	color:#ffffff;
	font-weight:bold;
}
	
.ui-widget-header a{
	color:#ffffff;
}

.ui-growl {
	top:50%; left:40%;
}

.left_topbg {
	background-image: url("#{resource['images/back:content-bg.gif']}");
	background-repeat: repeat-x;
}
.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	display: block;
	text-indent: 15px;
	padding-top: 1px;
}

/*列表显示区域*/
.tableCenter {
	width: 100%;
	font-size:12px;
	margin-top: 5px;
	background-color: #E5F4FD;
}
/*table*/
table {font-family: '微软雅黑';
	font-size: 12px;
}
/************************************按钮样式*****************************************/
/*按钮返回按钮，选择按钮，创建按钮，批量删除按钮，禁用启用，修改按钮，单个删除，导出exl，导出pdf,保存按钮，编辑，确定，新增一条*/
.backBtn,.multipleBtn,.createBtn,.multipleDelBtn,.enabledBtn,.modifyBtn,.viewBtn,.singleDelBtn,.xlsBtn,.pdfBtn,.saveBtn,.editBtn,.determine,.addBtn,.choiceBtn,.retrocedeBtn,.fileBtn {
	CURSOR: hand;
	/*COLOR: #000000;*/
	font-family: '微软雅黑';
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #B5D0D9;
	margin: 2px;
}
/*检索按钮*/
.searchBtn {
	margin-left: 20px;
	CURSOR: hand;
	/*COLOR: #000000;*/
	font-family:微软雅黑, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #B5D0D9;
}
/*隐藏*/
.hide {
	display: none;
}
/************************************桌面显示*****************************************/
#announcement {
	width: 49.8%; float: left;font-size:12px;border: 1px solid #CCCCCC;
}
#dataPacket {
	width: 49.8%; float: right; font-size:12px;border: 1px solid #CCCCCC;
}
#notAuditingUser {
	width: 49.8%; float: left; font-size:12px;
}
#refundment {
	width: 49.8%; float: right; font-size:12px;
}
.dataTable {
	border-width: 0;
	width: 100%;
	background-color: #CCCCCC;
}
.tableHeader {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #5C9CCC;
	text-align: center;
}
.columnClass {
	text-align: center;
}
.rowStyleClass {
	background-color: #F7F8FA;
}
.tableLabel {
	background-color: #5C9CCC;
	padding-left:12px;
}
.tableInput {
	background-color: #F7F8FA;
	padding-left:8px;
}
.labelWidth {
	width: 100px;
}
.inputWidth {
	width: 200px;
}

img {
	border:0;
}
/************************************状态颜色显示*****************************************/
.green {
	color: #00CC00;
}
.red {
	color: #FF0000;
}
.brown {
	color: #8B2252;
}
/************************************流程图片*****************************************/
.process {
	width: 120px;
	height: 100px;
	text-align: center;
	font-size: 12px;
	margin-left: 50px;
	margin-top: 50px;
	float: left;
}
.process li {
	list-style-type:none;
}

/************************************超链接显示*****************************************/
a {
	font-family: '微软雅黑';
	font-size: 12px;
	color: #666666;
	list-style-type: none;
	list-style-image: none;
	text-decoration: none;
}
a:link {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}

/*自定义多选框列表居中*/
.ui-selection-column {
	text-align: center;
}

/*自定义普通列表居中*/
.ui-datatable tbody td {
	text-align: center;
}

/*自定义查询条件输入区域*/
.searchRequirementNorth {
	border: 1px solid #CCCCCC;
	background-color: #E5F4FD;
	font-size:12px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
/*自定义按钮输入区域*/
.buttonNorth {
	border: 1px solid #CCCCCC;
	background-color: #E5F4FD;
	font-size:12px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}
/*自定义登录页面的列表宽度*/
.column1 {
	width: 100px;
	background-color: rgb(223, 239, 252); /* #E6EDF2 #2e6e9e*/
}

.column2 {
	background-color: #F7F8FA; /* #F7F8FA */
	width: 200px;
}

.column3{
	width: 15%;
	background-color: #F7F8FA; /* #F7F8FA */
}

.column4{
	background-color:#F7F8FA;/* #F7F8FA */
}

.ui-panelgrid-odd {
	background-image: none;
}
.ui-panelgrid-even {
	background-image: none;
}
/*自定义table的标题颜色*/
.tableTitle {
	background-color: rgb(223, 239, 252);
}
/*自定义table中的td标签进行背景颜色设置*/
.tableTd {
	background-color: rgb(223, 239, 252); /* #E6EDF2 #2e6e9e*/
}
/*自定义屏蔽标签之后的字体颜色的深度*/
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: 1;
}/*
.ui-widget-content {
	background-color:#E5F4FD;
	height: 100%;
}
.ui-tabs-panel {
	background-color:#E5F4FD;
}
.ui-tabs .ui-tabs-panel {
	background-color:#E5F4FD;
}
.ui-tabs {
	padding: 0;
}*/
.tabView {
	background-color:#E5F4FD;
	height: 100%;
	padding: 0;
	border: 0;
}
.ui-tabs .ui-tabs-panel {
	background-color:#E5F4FD;
}